[submodule "subfolder1"]
  path = subfolder1
  url = https://github.com/mohamed-bedisse/test-dependabot-repo/tree/main/subfolder1
[submodule "subfolder2"]
  path = subfolder2
  url = https://github.com/mohamed-bedisse/test-dependabot-repo/tree/main/subfolder2
